@model MainModel

@{
    ViewData["Title"] = "SD Edit Bass Amplifier";
}

<style>
    .h4 {
        margin-bottom: 40px;
        margin-top: 40px;
    }
</style>

<h4 class="h4 offset-2 col-xs-4">EDIT BASS AMPLIFIER</h4>

<partial name="_MainFormPartial" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}