@model CymbalViewModel

@{
    ViewData["Title"] = "SD Add Cymbal";
}

<style>
    .h4 {
        margin-bottom: 40px;
        margin-top: 40px;
    }
</style>

<h4 class="h4 offset-2 col-xs-4">ADD NEW CYMBAL</h4>

<partial name="_CymbalPartial" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}